.filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
  
    h1 {
      font-weight: 300;
      font-size: 24px;
    }
  
    .item {
      display: flex;
      flex-direction: column;
      gap: 3px;
  
      label {
        font-size: 10px;
      }
  
      input,
      select {
        width: 75px;
        padding: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        font-size: 14px;
      }
    }
  
    .top {
      input {
        width: 100%;
      }
    }
  
    .bottom {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;


      
  
      button {
        width: 70px;
        padding: 1px;
        border-top-left-radius: 5px;
        border-top-right-radius:5px ;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-color: #fece51;
        cursor: pointer;
        background-color: #fece51;
       
  
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }


